@{
    ViewData["Title"] = "Bitte überprüfen Sie Ihre E-Mail | Restaurant am Holstentor Lübeck";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    Restaurant.Models.Repository.HomeRep ivm = new Restaurant.Models.Repository.HomeRep();
    var qivm = ivm.GetIndexHeaderSelect();
}

<!-- Header -->
@Html.Partial("P_HeaderBG")
<!-- Main Content -->
<main class="main">
    <!-- Section -->
    <section class="py-0">
        <div class="bg-web">
            <!-- Section -->
            <section class="py-0 pb-3">
                <div class="jumbotron jumbotron-fluid bg-rosa py-7">
                    <div class="container">
                        <h1 class="text-web mt-5" data-aos="fade-down" data-aos-duration="1000">@qivm.NameSite</h1>
                        <h5 class="text-black mb-2" data-aos="fade-down" data-aos-duration="1100"><i class="zmdi zmdi-email zmdi-hc-fw mr-1"></i>@qivm.Street @qivm.Number / @qivm.PostCode @qivm.City</h5>
                        <hr />
                        <h1 class="text-web fs-1 fs-lg-2 text-center" data-aos="fade-down" data-aos-duration="1200">Bitte überprüfen Sie Ihre E-Mail, um Ihr Passwort zurückzusetzen.</h1>
                        @if (Session["EmailUser"] == null)
                        {
                            <h6 class="text-center"><a href="/Account/Einloggen" class="btn btn-light px-5 mx-2 mt-5 text-center" data-aos="fade-down" data-aos-delay="100" data-aos-duration="1300"><i class="fas fa-sign-in-alt mr-2"></i>Login</a></h6>
                        }
                        <hr />
                    </div>
                </div>
                <h5 class="text-white mb-2 text-center" data-aos="fade-up" data-aos-duration="1400"><b>@qivm.NameSite</b></h5>
            </section>
            <!-- End of Section -->
        </div>
    </section>
    <!-- End of Section -->
</main>
<!-- End of Main Content -->
@Html.Partial("P_Footer")