@model Restaurant.Models.ViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Haben Sie Ihr Passwort vergessen? | Restaurant am Holstentor Lübeck";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    Restaurant.Models.Repository.HomeRep ivm = new Restaurant.Models.Repository.HomeRep();
    var qivm = ivm.GetIndexHeaderSelect();
}

<!-- Header -->
@Html.Partial("P_HeaderBG")
<!-- Main Content -->
<main class="main">
    <!-- Section -->
    <section class="py-0">
        <div class="bg-web">
            <!-- Section -->
            <section class="py-0 pb-3">
                <div class="jumbotron jumbotron-fluid bg-rosa py-7">
                    <div class="container">
                        <h1 class="text-web mt-5" data-aos="fade-down" data-aos-duration="1000">@qivm.NameSite</h1>
                        <h5 class="text-black mb-2" data-aos="fade-down" data-aos-duration="1100"><i class="zmdi zmdi-email zmdi-hc-fw mr-1"></i>@qivm.Street @qivm.Number / @qivm.PostCode @qivm.City</h5>
                        <hr />
                        <form class="col px-5 px-lg-8 py-6 py-lg-0" action="/Account/ForgotPassword" method="post">
                            <div class="form-group mb-4" data-aos="zoom-in" data-aos-duration="1200">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control form-control-lg", @placeholder = "E-Mail-Addresse" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                            <button type="submit" class="btn btn-lg btn-success btn-block mb-4 text-capitalize" data-aos="fade" data-aos-duration="1200">Einreichen<i class="zmdi zmdi-mail-send ml-2"></i></button>
                        </form>
                        <hr />
                    </div>
                </div>
                <h5 class="text-white mb-2 text-center" data-aos="fade-up" data-aos-duration="1400"><b>@qivm.NameSite</b></h5>
            </section>
            <!-- End of Section -->
        </div>
    </section>
    <!-- End of Section -->
</main>
<!-- End of Main Content -->
@Html.Partial("P_Footer")