@{
    ViewBag.Title = "Meine Verwaltung";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    Restaurant.Models.Repository.AdminRep adr = new Restaurant.Models.Repository.AdminRep();
    var qindex = adr.GetIndex();
    Restaurant.Models.Repository.HomeRep ivm = new Restaurant.Models.Repository.HomeRep();
    var qivm = ivm.GetIndexHeaderSelect();
}

@Html.Partial("P_HeaderBG")
<!-- Main Content -->
<main class="main">
    <!-- Section -->
    <section class="py-0">
        <div class="bg-web">
            <!-- Section -->
            <section class="py-0 pb-3">
                <div class="jumbotron jumbotron-fluid bg-rosa py-7">
                    <div class="container">
                        <h1 class="text-web fs-3 fs-lg-5 mt-5" data-aos="fade-down" data-aos-duration="1000">Meine Verwaltung</h1>
                        <h5 class="text-black mb-2" data-aos="fade-down" data-aos-duration="1100">Mein Konto</h5>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="card text-white bg-primary mb-3">
                                    <div class="card-header" style="background-color: maroon;"><i class="fas fa-users mr-2 fs-1"></i>Die Benutzer</div>
                                    <div class="card-body">
                                        <h5 class="card-title fs--1">Gesamtzahl der Benutzer: @adr.GetUsersCount()</h5>
                                        <h5 class="card-title fs--1">Letzte Anzahl von Benutzern: @adr.GetLastUsers().Count()</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card text-white bg-success mb-3">
                                    <div class="card-header" style="background-color: darkgreen;"><i class="fas fa-comments mr-2 fs-1"></i>Die Nachrichten</div>
                                    <div class="card-body">
                                        @{
                                            if (Session["EmailUser"] != null)
                                            {
                                                string username = Session["EmailUser"].ToString();
                                                if (ivm.GetUserRole(username) == "Admin")
                                                {
                                                    <h5 class="card-title fs--1">Gelesen Nachrichten: @adr.GetTotalUsersNachrichtTrueCount(username)</h5>
                                                    <h5 class="card-title fs--1">Ungelesen Nachrichten: @adr.GetTotalUsersNachrichtFalseCount(username)</h5>
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="card text-white bg-dark mb-3">
                                    <div class="card-header" style="background-color: #202123;"><i class="fas fa-cog mr-2 fs-1"></i>Einstellungen</div>
                                    <div class="card-body row text-center w-30vh">
                                        <div class="col-lg-6">
                                            <a class="btn btn-outline-light mb-2 fs--1" href="/Admin"><i class="fas fa-home mr-2"></i>Zuhause</a>
                                        </div>
                                        <!--Kategorie-->
                                        <div class="col-lg-6">
                                            <a class="btn btn-outline-light mb-2 fs--1" href="/Admin/Kategorie"><i class="fas fa-th-list mr-2"></i>Kategorie</a>
                                        </div>
                                        <!--Startseite-->
                                        <div class="col-lg-6">
                                            <form class="" action="/Admin/Startseite" method="post">
                                                <input type="hidden" for="1" name="id" value="1" />
                                                <button type="submit" class="btn btn-outline-light mb-2 fs--1"><i class="fas fa-edit mr-2"></i>Startseite</button>
                                            </form>
                                        </div>
                                        <!--Produkte-->
                                        <div class="col-lg-6">
                                            <a class="btn btn-outline-light mb-2 fs--1" href="/Admin/Produkte"><i class="fas fa-shopping-cart mr-2"></i>Produkte</a>
                                        </div>
                                        <!--Nachrichten-->
                                        <div class="col-lg-6">
                                            <a class="btn btn-outline-light mb-2 fs--1" href="/Admin/Nachrichten"><i class="fas fa-comments mr-2"></i>Nachrichten</a>
                                        </div>
                                        <!--Produktgalerie-->
                                        <div class="col-lg-6">
                                            <a class="btn btn-outline-light mb-2 fs--1" href="/Admin/Produktgalerie"><i class="fas fa-file-image mr-2"></i>Produktgalerie</a>
                                        </div>
                                        <!--Unterkategorie-->
                                        <div class="col-lg-6">
                                            <a class="btn btn-outline-light mb-2 fs--1" href="/Admin/Unterkategorie"><i class="fas fa-clipboard-list mr-2"></i>Unterkategorie</a>
                                        </div>
                                        <!--PasswortAendern-->
                                        <div class="col-lg-6">
                                            <a class="btn btn-outline-light mb-2 fs--1" href="/Admin/PasswortAendern"><i class="fas fa-key mr-2"></i>Passwort ändern</a>
                                        </div>
                                        <!--Galerie-->
                                        <div class="col-lg-6">
                                            <a class="btn btn-outline-light mb-2 fs--1" href="/Admin/Galerie"><i class="fas fa-images mr-2"></i>Galerie anzeigen</a>
                                        </div>
                                        <!--DetailsBenutzer-->
                                        <div class="col-lg-6">
                                            <a class="btn btn-outline-light mb-2 fs--1" href="/Admin/DetailsBenutzer"><i class="fas fa-users mr-2"></i>Benutzer anzeigen</a>
                                        </div>
                                        <!--VideoBearbeiten-->
                                        <div class="col-lg-6">
                                            <form class="" action="/Admin/VideoBearbeiten" method="post">
                                                <input type="hidden" for="1" name="id" value="1" />
                                                <button type="submit" class="btn btn-outline-light mb-2 fs--1"><i class="fas fa-edit mr-2"></i>Video-Startseite</button>
                                            </form>
                                        </div>
                                        <!--FotoUeberunsBearbeiten-->
                                        <div class="col-lg-6">
                                            <form class="" action="/Admin/FotoUeberunsBearbeiten" method="post">
                                                <input type="hidden" for="1" name="id" value="1" />
                                                <button type="submit" class="btn btn-outline-light mb-2 fs--1"><i class="fas fa-edit mr-2"></i>Foto-Über uns</button>
                                            </form>
                                        </div>
                                        <!--FotoGalerieBearbeiten-->
                                        <div class="col-lg-6">
                                            <form class="" action="/Admin/FotoGalerieBearbeiten" method="post">
                                                <input type="hidden" for="1" name="id" value="1" />
                                                <button type="submit" class="btn btn-outline-light mb-2 fs--1"><i class="fas fa-edit mr-2"></i>Foto-Galerie</button>
                                            </form>
                                        </div>
                                        <!--FotoFusszeileBearbeiten-->
                                        <div class="col-lg-6">
                                            <form class="" action="/Admin/FotoFusszeileBearbeiten" method="post">
                                                <input type="hidden" for="1" name="id" value="1" />
                                                <button type="submit" class="btn btn-outline-light mb-2 fs--1"><i class="fas fa-edit mr-2"></i>Foto-Fußzeile</button>
                                            </form>
                                        </div>
                                        <!--KopfzeileFusszeileUeber-->
                                        <div class="col-lg-6">
                                            <form class="" action="/Admin/KopfzeileFusszeileUeber" method="post">
                                                <input type="hidden" for="1" name="id" value="1" />
                                                <button type="submit" class="btn btn-outline-light mb-2 fs--1"><i class="fas fa-edit mr-2"></i>Kopfzeile/Fußzeile/Über uns</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="container">
                        <div class="tab-content py-3 px-3 px-sm-0">
                            <div class="tab-pane fade show active">
                                <div class="p-5">
                                    <div class="table-responsive mb-2">
                                        <h5 class="text-black mb-2" data-aos="fade-right" data-aos-duration="1200">Startseite</h5>
                                        <table class="table table-light text-center">
                                            <thead>
                                                <tr class="bg-web text-white font-weight-bold" style="font-size: 0.73rem !important;">
                                                    <th>#</th>
                                                    <th>Titel</th>
                                                    <th>Text1</th>
                                                    <th>Text2</th>
                                                    @*<th>Text3</th>*@
                                                    @*<th>Text4</th>*@
                                                    @*<th>Text5</th>*@
                                                    <th><i class="fas fa-edit text-warning"></i></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="font-weight-bold" style="font-size: 0.83rem !important;">
                                                    <td>@qindex.IDIndex</td>
                                                    <td>@qindex.Title</td>
                                                    <td>@qindex.TypedText1</td>
                                                    <td>@qindex.TypedText2</td>
                                                    @*<td>@qindex.TypedText3</td>*@
                                                    @*<td>@qindex.TypedText4</td>*@
                                                    @*<td>@qindex.TypedText5</td>*@
                                                    <td>
                                                        <form class="" action="/Admin/Startseite" method="post">
                                                            <input type="hidden" for="@qindex.IDIndex" name="id" value="@qindex.IDIndex" />
                                                            <button type="submit" class="btn btn-warning" style="width: 50px;"><i class="fas fa-edit"></i></button>
                                                        </form>
                                                    </td>
                                                </trclass="font-weight-bold">
                                            </tbody>
                                        </table>
                                        <h5 class="text-black mb-2" data-aos="fade-right" data-aos-duration="1300">Kopfzeile/Fußzeile/Über</h5>
                                        <table class="table table-ligh text-center">
                                            <thead>
                                                <tr class="bg-web text-white font-weight-bold" style="font-size: 0.73rem !important">
                                                    <th>#</th>
                                                    <th>Adresse</th>
                                                    <th>Beschreibung</th>
                                                    @*<th>E-Mail</th>*@
                                                    @*<th>EmbedLinkGoogleMap</th>*@
                                                    <th>Websitename</th>
                                                    <th>Telefonnummer</th>
                                                    <th><i class="fas fa-edit text-warning"></i></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="font-weight-bold" style="font-size: 0.83rem !important;">
                                                    <td>@qivm.IDIndex</td>
                                                    <td>@qivm.Street @qivm.Number<br />@qivm.PostCode @qivm.City<br />@qivm.Country</td>
                                                    <td>@qivm.Description</td>
                                                    @*<td>@qivm.Email</td>*@
                                                    @*<td>@qivm.EmbedLinkGoogleMap</td>*@
                                                    <td>@qivm.NameSite</td>
                                                    <td>@qivm.PhoneNumber</td>
                                                    <td>
                                                        <form class="" action="/Admin/KopfzeileFusszeileUeber" method="post">
                                                            <input type="hidden" for="@qivm.IDIndex" name="id" value="@qivm.IDIndex" />
                                                            <button type="submit" class="btn btn-warning" style="width: 50px;"><i class="fas fa-edit"></i></button>
                                                        </form>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <h5 class="text-black mb-2" data-aos="fade-right" data-aos-duration="1400">Kategorie</h5>
                                        <table class="table table-light text-center">
                                            <thead>
                                                <tr class="bg-web text-white font-weight-bold" style="font-size: 0.73rem !important">
                                                    <th>#</th>
                                                    <th>Kategoriename</th>
                                                    <th><span class="text-success">Aktiv</span>/<span class="text-danger">Inaktiv</span></th>
                                                    @*<th><i class="fas fa-check text-success"></i>/<i class="fas fa-times text-danger"></i></th>*@
                                                    <th><i class="fas fa-edit text-warning"></i></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    int icategory = 1;
                                                    if (adr.GetCategory().Count() > 0)
                                                    {
                                                        foreach (var item in adr.GetCategory().Take(10))
                                                        {
                                                            string bg = "";
                                                            if (item.ActivePassive == false)
                                                            {
                                                                bg = "background-color: #ffeaed;";
                                                            }
                                                            <tr class="font-weight-bold" style="font-size: 0.83rem !important; @bg">
                                                                <td>@icategory</td>
                                                                <td>@item.TitleCategory</td>
                                                                @*<td> @item.ActivePassive</td>*@
                                                                <td>
                                                                    @{
                                                                        if (item.ActivePassive == false)
                                                                        {
                                                                            @*<a href="/Admin/KategorieAktiv?id=@item.ID" class="btn btn-success" style="width: 50px;"><i class="fas fa-check"></i></a>*@
                                                                            <form class="" action="/Admin/KategorieAktiv" method="post">
                                                                                <input type="hidden" for="@item.ID" name="ID" value="@item.ID" />
                                                                                <button type="submit" class="btn btn-success" style="width: 50px;"><i class="fas fa-check"></i></button>
                                                                            </form>
                                                                        }
                                                                        else
                                                                        {
                                                                            @*<a href="/Admin/KategorieInaktiv?id=@item.ID" class="btn btn-danger" style="width: 50px;"><i class="fas fa-times"></i></a>*@
                                                                            <form class="" action="/Admin/KategorieInaktiv" method="post">
                                                                                <input type="hidden" for="@item.ID" name="ID" value="@item.ID" />
                                                                                <button type="submit" class="btn btn-danger" style="width: 50px;"><i class="fas fa-times"></i></button>
                                                                            </form>
                                                                        }
                                                                    }
                                                                </td>
                                                                <td>
                                                                    <form class="" action="/Admin/KategorieBearbeiten" method="post">
                                                                        <input type="hidden" for="@item.ID" name="ID" value="@item.ID" />
                                                                        <button type="submit" class="btn btn-warning" style="width: 50px;"><i class="fas fa-edit"></i></button>
                                                                    </form>
                                                                </td>
                                                            </tr>
                                                            icategory = icategory + 1;
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td class="bg-danger text-white" colspan="4">-</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                        <h5 class="text-black mb-2" data-aos="fade-right" data-aos-duration="1500">Benutzer anzeigen</h5>
                                        <table class="table table-light text-center">
                                            <thead>
                                                <tr class="bg-web text-white font-weight-bold" style="font-size: 0.73rem !important">
                                                    <th>#</th>
                                                    <th>E-Mail</th>
                                                    <th><span class="text-success">Aktiv</span>/<span class="text-danger">Inaktiv</span></th>
                                                    @*<th><i class="fas fa-check text-success"></i>/<i class="fas fa-times text-danger"></i></th>*@
                                                    <th><i class="fas fa-address-card text-info"></i></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    int i = 1;
                                                    if (adr.GetUsersSend().Count() > 0)
                                                    {
                                                        foreach (var item in adr.GetUsersSend().OrderByDescending(a => a.Date).Take(10))
                                                        {
                                                            string bg = "";
                                                            if (item.EmailConfirmed == false)
                                                            {
                                                                bg = "background-color: #ffeaed;";
                                                            }
                                                            <tr class="font-weight-bold" style="font-size: 0.83rem !important; @bg">
                                                                <td>@i</td>
                                                                <td>@item.Email</td>
                                                                @*<td>@item.EmailConfirmed</td>*@
                                                                <td>
                                                                    @*<a href="/Admin/AktivBenutzer?id=@item.ID" class="btn btn-success" style="width: 50px;"><i class="fas fa-check"></i></a>*@
                                                                    <form class="" action="/Admin/AktivBenutzer" method="post">
                                                                        <input type="hidden" for="@item.ID" name="Id" value="@item.ID" />
                                                                        <button type="submit" class="btn btn-success" style="width: 50px;"><i class="fas fa-check"></i></button>
                                                                    </form>
                                                                </td>
                                                                <td>
                                                                    <form class="" action="/Admin/DetailsBenutzerShow" method="post">
                                                                        <input type="hidden" for="@item.ID" name="Id" value="@item.ID" />
                                                                        <button type="submit" class="btn btn-info" style="width: 50px;"><i class="fas fa-address-card"></i></button>
                                                                    </form>
                                                                </td>
                                                            </tr>
                                                            i = i + 1;
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td class="bg-danger text-white" colspan="4">-</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                        <h5 class="text-black mb-2" data-aos="fade-right" data-aos-duration="1600">Galerie anzeigen</h5>
                                        <table class="table table-light text-center">
                                            <thead>
                                                <tr class="bg-web text-white font-weight-bold" style="font-size: 0.73rem !important">
                                                    <th>#</th>
                                                    <th>Foto</th>
                                                    <th>Fotoname</th>
                                                    <th>Datum</th>
                                                    <th><i class="fas fa-edit text-warning"></i></th>
                                                    <th><i class="fas fa-trash text-danger"></i></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    int j = 1;
                                                    if (adr.GetAlbum().Count() > 0)
                                                    {
                                                        foreach (var item in adr.GetAlbum().OrderByDescending(a => a.Date).Take(10))
                                                        {
                                                            <tr class="font-weight-bold" style="font-size: 0.83rem !important;">
                                                                <td>@j</td>
                                                                <td>
                                                                    <a data-fancybox="gallery" data-caption="@item.NamePic" href="../wwwroot/assets/img/backgrounds/album/@item.Image"><i class="fas fa-image text-success"></i></a>
                                                                </td>
                                                                <td>@item.NamePic</td>
                                                                <td>@item.Date</td>
                                                                <td>
                                                                    <form class="" action="/Admin/GalerieBearbeiten" method="post">
                                                                        <input type="hidden" asp-for="@item.ID" name="ID" value="@item.ID" />
                                                                        <button type="submit" class="btn btn-warning" style="width: 50px;"><i class="fas fa-edit"></i></button>
                                                                    </form>
                                                                </td>
                                                                <td>
                                                                    <form class="" action="/Admin/GalerieLöschen" method="post">
                                                                        <input type="hidden" asp-for="@item.ID" name="ID" value="@item.ID" />
                                                                        <button type="submit" class="btn btn-danger" style="width: 50px;"><i class="fas fa-trash"></i></button>
                                                                    </form>
                                                                </td>
                                                            </tr>
                                                            j = j + 1;
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td class="bg-danger text-white" colspan="6">-</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h5 class="text-white mb-2 text-center" data-aos="fade-up" data-aos-duration="1600"><b>@qivm.NameSite</b></h5>
            </section>
            <!-- End of Section -->
        </div>
    </section>
</main>
<!-- End of Main Content -->
@Html.Partial("P_Footer")
