@model  Restaurant.Models.Domin.Tbl_Galerie
@{
    ViewBag.Title = "Meine Verwaltung | Bearbeiten Sie die Informationen";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    Restaurant.Models.Repository.HomeRep ivm = new Restaurant.Models.Repository.HomeRep();
    var qivm = ivm.GetIndexHeaderSelect();
}

@Html.Partial("P_HeaderBG")
<!-- Main Content -->
<main class="main">
    <!-- Section -->
    <section class="py-0">
        <div class="bg-web">
            <!-- Section -->
            <section class="py-0 pb-3">
                <div class="jumbotron jumbotron-fluid bg-rosa py-7">
                    <div class="container">
                        <h1 class="text-web fs-3 fs-lg-5 mt-5" data-aos="fade-down" data-aos-duration="1000">Meine Verwaltung</h1>
                        <h5 class="text-black mb-2" data-aos="fade-down" data-aos-duration="1100">Bearbeiten Sie die Informationen</h5>
                        <div class="tab-content py-3 px-3 px-sm-0">
                            <div class="tab-pane fade show active">
                                <!-- Pagination -->
                                <div class="col-12">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                            <li><a class="btn btn-secondary mr-3" href="/Admin/Produktgalerie"><i class="fas fa-chevron-circle-left mr-2"></i>Zurück</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- End of Pagination -->
                                <form class="col px-5 px-lg-8 py-6 py-lg-0 mt-3" action="/Admin/ProduktgalerieBearbeitenConfirmed" enctype="multipart/form-data" method="post">
                                    <input type="hidden" for="@Model.ProductID" name="id" value="@Model.ProductID" />
                                    @*<div class="form-group mb-4">
                                        @Html.EditorFor(model => model.NamePic, new { htmlAttributes = new { @class = "form-control form-control-lg", @placeholder = "Fotoname" } })
                                        @Html.ValidationMessageFor(model => model.NamePic, "", new { @class = "text-danger" })
                                    </div>*@
                                    <div class="custom-file form-group mb-4">
                                        @*@Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "custom-file-input", @placeholder = "Foto", @type = "file" } })
                                            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })*@
                                        <input type="file" class="custom-file-input" name="Image">
                                        <label class="custom-file-label">Datei wählen...</label>
                                        <div class="text-warning">Wählen Sie ein Bild aus.</div>
                                        <div class="text-success">[Beispiel Größe: 1KB - 5 MB]</div>
                                    </div>
                                    <button type="submit" class="btn btn-lg btn-success btn-block mb-4 mt-4 text-capitalize">Bearbeiten<i class="fas fa-edit ml-2"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <h5 class="text-white mb-2 text-center" data-aos="fade-up" data-aos-duration="1600"><b>@qivm.NameSite</b></h5>
            </section>
            <!-- End of Section -->
        </div>
    </section>
</main>
<!-- End of Main Content -->
@Html.Partial("P_Footer")