@model Restaurant.Models.Domin.Tbl_Unterkategorie
@{
    ViewBag.Title = "Meine Verwaltung | Bearbeiten Sie die Informationen";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    Restaurant.Models.Repository.HomeRep ivm = new Restaurant.Models.Repository.HomeRep();
    var qivm = ivm.GetIndexHeaderSelect();
}

@Html.Partial("P_HeaderBG")
<!-- Main Content -->
<main class="main">
    <!-- Section -->
    <section class="py-0">
        <div class="bg-web">
            <!-- Section -->
            <section class="py-0 pb-3">
                <div class="jumbotron jumbotron-fluid bg-rosa py-7">
                    <div class="container">
                        <h1 class="text-web fs-3 fs-lg-5 mt-5" data-aos="fade-down" data-aos-duration="1000">Meine Verwaltung</h1>
                        <h5 class="text-black mb-2" data-aos="fade-down" data-aos-duration="1100">Bearbeiten Sie die Informationen</h5>
                        <div class="tab-content py-3 px-3 px-sm-0">
                            <div class="tab-pane fade show active">
                                <!-- Pagination -->
                                <div class="col-12">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                            <li><a class="btn btn-secondary mr-3" href="/Admin/Unterkategorie"><i class="fas fa-chevron-circle-left mr-2"></i>Zurück</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- End of Pagination -->
                                <form class="col px-5 px-lg-8 py-6 py-lg-0 mt-3" action="/Admin/UnterkategorieBearbeitenConfirmed" method="post">
                                    <input type="hidden" for="@Model.ID" name="id" value="@Model.ID" />
                                    <div class="form-group mb-4">
                                        <label class="">Unterkategoriename:</label> @*"--Kategorie wählen--",*@
                                        @if (ViewBag.CategoryID != null)
                                        {
                                            @Html.DropDownListFor(model => model.CategoryID, ViewBag.CategoryID as SelectList, new { @class = "form-control p-1" })
                                        }
                                    </div>
                                    <div class="form-group mb-4">
                                        @Html.EditorFor(model => model.TitleSubCategory, new { htmlAttributes = new { @class = "form-control form-control-lg", @placeholder = "Unterkategoriename", @Value = Model.TitleSubCategory } })
                                        @Html.ValidationMessageFor(model => model.TitleSubCategory, "", new { @class = "text-danger" })
                                    </div>
                                    <h5 class="text-web mb-2 fs--1"><a href="https://fontawesome.com/icons">Font Awesome</a> | <a href="http://zavoloklom.github.io/material-design-iconic-font/icons.html">Material Design Iconic Font</a></h5>
                                    <div class="form-group mb-4">
                                        @Html.EditorFor(model => model.FontName, new { htmlAttributes = new { @class = "form-control form-control-lg", @placeholder = "Schriftart", @Value = Model.FontName } })
                                        @Html.ValidationMessageFor(model => model.FontName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group mb-4">
                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = "3", @placeholder = "Beschreibung", @Value = Model.Description })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group mb-4">
                                        @Html.EditorFor(model => model.Subtitle1, new { htmlAttributes = new { @class = "form-control form-control-lg", @placeholder = "Subtitle-1", @Value = Model.Subtitle1 } })
                                        @Html.ValidationMessageFor(model => model.Subtitle1, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group mb-4">
                                        @Html.EditorFor(model => model.Subtitle2, new { htmlAttributes = new { @class = "form-control form-control-lg", @placeholder = "Subtitle-2", @Value = Model.Subtitle2 } })
                                        @Html.ValidationMessageFor(model => model.Subtitle2, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group mb-4">
                                        @Html.EditorFor(model => model.Subtitle3, new { htmlAttributes = new { @class = "form-control form-control-lg", @placeholder = "Subtitle-3", @Value = Model.Subtitle3 } })
                                        @Html.ValidationMessageFor(model => model.Subtitle3, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group mb-4 fs--1">
                                        <div class="d-flex justify-content-between">
                                            <div class="form-group form-check d-flex">
                                                @Html.CheckBoxFor(model => model.ActivePassive, new { @class = "form-check-input" })
                                                <label class="form-check-label ttext-secondary font-weight-bold" for="ActivePassive"><span class="text-success">Aktiv</span>/<span class="text-danger">Inaktiv</span></label>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-lg btn-success btn-block mb-4 mt-4 text-capitalize">Bearbeiten<i class="fas fa-edit ml-2"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <h5 class="text-white mb-2 text-center" data-aos="fade-up" data-aos-duration="1600"><b>@qivm.NameSite</b></h5>
            </section>
            <!-- End of Section -->
        </div>
    </section>
</main>
<!-- End of Main Content -->
@Html.Partial("P_Footer")