@model Restaurant.Models.ViewModels.MessageViewModel
@{
    ViewData["Title"] = "Meine Nachricht";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    Restaurant.Models.Repository.ProfileRep prorep = new Restaurant.Models.Repository.ProfileRep();
    Restaurant.Models.Repository.HomeRep ivm = new Restaurant.Models.Repository.HomeRep();
    var qivm = ivm.GetIndexHeaderSelect();
}

@Html.Partial("P_HeaderBG")
<!-- Main Content -->
<main class="main">
    <!-- Section -->
    <section class="py-0">
        <div class="bg-web">
            <!-- Section -->
            <section class="py-0 pb-3">
                <div class="jumbotron jumbotron-fluid bg-rosa py-7">
                    <div class="container">
                        <h1 class="text-web fs-3 fs-lg-5 mt-5" data-aos="fade-down" data-aos-duration="1000">Mein persönlichen Daten</h1>
                        <h5 class="text-black mb-2" data-aos="fade-down" data-aos-duration="1100">Mein Konto</h5>
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link" href="/Profile/Index">Mein Profil</a>
                                @{
                                    if (Session["EmailUser"] != null)
                                    {
                                        string username = Session["EmailUser"].ToString();
                                        if (ivm.GetUserRole(username) == "User")
                                        {
                                            if (prorep.InsertUser(username) == true)
                                            {
                                                <a class="nav-item nav-link" href="/Profile/Nachricht">Meine Nachricht</a>
                                                <a class="nav-item nav-link" href="/Profile/PasswortAendern">Passwort</a>
                                            }
                                            else if (prorep.InsertUser(username) == false)
                                            {
                                                <a class="nav-item nav-link" href="/Profile/Index">Meine Nachricht</a>
                                                <a class="nav-item nav-link" href="/Profile/Index">Passwort</a>
                                            }
                                        }
                                    }
                                }
                            </div>
                        </nav>
                        <div class="tab-content py-3 px-3 px-sm-0">
                            <div class="tab-pane fade show active">
                                <div class="p-5 row">
                                    <div class="col-lg-12">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary btn-block mb-4" data-toggle="modal" data-target="#Nachricht">Nachricht senden<i class="zmdi zmdi-mail-send ml-2"></i></button>
                                        <!-- End of Button trigger modal -->
                                    </div>
                                    <div class="table-responsive mb-2">
                                        <table class="table table-light text-center">
                                            <thead>
                                                <tr class="bg-web text-white font-weight-bold" style="font-size: 0.83rem !important;">
                                                    <th>#</th>
                                                    <th>Nachricht gesendet</th>
                                                    <th>Nachricht empfangen</th>
                                                    <th>Datum</th>
                                                    <th>Antwort</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    if (Session["EmailUser"] != null)
                                                    {
                                                        string username = Session["EmailUser"].ToString();
                                                        if (ivm.GetUserRole(username) == "User")
                                                        {
                                                            int i = 1;
                                                            if (prorep.GetMsgSend(username).Count() > 0)
                                                            {
                                                                foreach (var item in prorep.GetMsgSend(username).OrderByDescending(a => a.Date).Take(15))
                                                                {
                                                                    <tr class="font-weight-bold " style="font-size: 0.73rem !important">
                                                                        <td>@i</td>
                                                                        <td class="fs--1" style="width:50%;">@item.Text</td>
                                                                        <td class="fs--1" style="width:50%;">@item.TextAdmin<br />@item.DateUpdate</td>
                                                                        <td>@item.Date</td>
                                                                        <td>
                                                                            @if (item.Confirm == true)
                                                                            {
                                                                                <div class="bg-success text-white fs--1 p-1">Gelesen</div>
                                                                            }
                                                                            else
                                                                            {
                                                                                <div class="bg-danger text-white fs--1 p-1">Ungelesen</div>
                                                                            }

                                                                        </td>
                                                                    </tr>
                                                                    i = i + 1;
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <tr>
                                                                    <td class="bg-danger text-white" colspan="5">Sie haben noch keine Nachricht gesendet.</td>
                                                                </tr>
                                                            }
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h5 class="text-white mb-2 text-center" data-aos="fade-up" data-aos-duration="1200"><b>@qivm.NameSite</b></h5>
            </section>
            <!-- End of Section -->
        </div>
    </section>
    <!-- End of Section -->
</main>
<!-- End of Main Content -->
<!-- Modal -->
<div class="modal fade" id="Nachricht" tabindex="-1" role="dialog" aria-labelledby="Nachricht" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Neue Nachricht</h5>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("NachrichtGesendet", "Profile", FormMethod.Post, new { @class = "" }))
                {
                    if (Session["EmailUser"] != null)
                    {
                        string username = Session["EmailUser"].ToString();
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.EditorFor(model => model.UserIdSend, new { htmlAttributes = new { @class = "form-control", @type = "hidden", @placeholder = @prorep.GetUser(username).Name, @Value = @username } })
                        <div class="form-group mb-4">
                            @Html.TextAreaFor(model => model.Text, new { @class = "form-control", @rows = "8", @placeholder = "Nachricht" })
                            @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-dark" data-dismiss="modal">Schließen</button>
                                <button type="submit" class="btn btn-success">Senden</button>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<!-- End of Modal -->
@Html.Partial("P_Footer")